<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript">
	//window.onresize = resize_monitor;
	
	var m, leftNav;
	var proxy_ip = "192.168.0.10";
	
	var mapview = false;
	var map,container;
	
	var points = [];
	var gis_array;
	var current_spot = null;
	window.onload = init;
	
	(function(){
	function load_script(xyUrl, callback){
	    var head = document.getElementsByTagName('head')[0];
	    var script = document.createElement('script');
	    script.type = 'text/javascript';
	    script.src = xyUrl;
	    script.onload = script.onreadystatechange = function(){
	        if((!this.readyState || this.readyState === "loaded" || this.readyState === "complete")){
	            callback && callback();
	            script.onload = script.onreadystatechange = null;
	            if ( head && script.parentNode ) {
	                head.removeChild( script );
	            }
	        }
	    };
	    head.insertBefore( script, head.firstChild );
	}
	function transMore(points,type,callback){
		var xyUrl = "http://api.map.baidu.com/ag/coord/convert?from=" + type + "&to=4&mode=1";
		var xs = [];
		var ys = [];
		var maxCnt = 20;//每次发送的最大个数
		var send = function(){
			var url = xyUrl + "&x=" + xs.join(",") + "&y=" + ys.join(",") + "&callback=callback";
		    load_script(url);
			xs = [];
			ys = [];
		}
	    for(var index in points){
			if(index % maxCnt == 0 && index != 0){
				send();
			}
	    	xs.push(points[index].lng);
	    	ys.push(points[index].lat);
			if(index == points.length - 1){
				send();
			}
	    }
	    
	}
	
	window.BMap = window.BMap || {};
	BMap.Convertor = {};
	BMap.Convertor.transMore = transMore;
	})();
	
	function get_gis_inf() {
		if(mapview && current_spot != null) {
			var t = current_spot.global_id.split(":");
			var spot = t[1].split("@");
			$.post('/spots/get_gis/' + spot[0] + "?host=" + spot[1],{}, function(result) {
				if(result == '') return;
				points = [];
				map.clearOverlays();
				var gis = result.split(":")[1].split(",");
				points.push(new BMap.Point(gis[1],gis[0]));
				magic();
		});
		}
	}
	
	function callback(xyResults){
		var xyResult = null;
		for(var index in xyResults){
			xyResult = xyResults[index];
			if(xyResult.error != 0){continue;}
			var point = new BMap.Point(xyResult.x, xyResult.y);
			var marker = new BMap.Marker(point);
			map.addOverlay(marker);
			marker.addEventListener("click", function(){  
	 			play_video(current_spot.name,current_spot.global_id);  
			});
			label = new BMap.Label(current_spot.name);
			label.setPosition(point);
			label.setStyle({ backgroundColor:"#005493",color:"#fff",border:"0",padding:"5px" })
			map.addOverlay(label);
			label.addEventListener("click", function(){  
	 			play_video(current_spot.name,current_spot.global_id);  
			});
			map.centerAndZoom(point, map.getZoom());
		}
	}
	
	function magic(){
		BMap.Convertor.transMore(points,0,callback);
	}
	
	function toggle_mapview(mv) {
		mapview = mv;
		if(mapview) {
			player.style.width = "400px";
			player.style.height = "345px";
			player.style.left = "5px";
			player.style.top = "5px";
		} else {
			player.style.left = "0";
			player.style.top = "0";
			resize_monitor();
		}
	}

	
	function init() {
		window.onunload = function() { player.Stop() };
		container = document.getElementById("container");
		leftNav = document.getElementById("leftNav");
		resize_monitor();
		window.onresize = resize_monitor;
        init_player("192.168.1.30",3050,null);
        map = new BMap.Map("container");
		var point = new BMap.Point(116.404, 39.915);  
	 	map.centerAndZoom(point, 15);
		var opts = {anchor: BMAP_ANCHOR_TOP_RIGHT};
		map.addControl(new BMap.NavigationControl(opts)); 
		//get_gis_inf();
		setInterval('get_gis_inf()',1000);
    }
	
	function init_player(host, port, proxy) {
		player.username = "admin";
		player.password = "admin";
		if(proxy) {
			player.proxy= "sip:" + proxy;
		}
		player.host = "sip:" + host;
		player.port = port;
		player.showCaptionBar = true;
		
		player.Start();
	}
	
	function resize_monitor() {
		var h,w;
		try {
			h = document.documentElement.clientHeight;
			w = document.documentElement.clientWidth;
		} catch(e) {
			h = document.body.clientHeight;
			w = document.body.clientWidth;
		}
		if(h == 0) h = document.body.clientHeight;
		if(w == 0) w = document.body.clientWidth;
		h -= 40;
		//player.height = h;
		//leftNav.height = h;
		//leftNav.width = 200;
		controlPanel.height = h;
		controlPanel.width = 250;
		//toolBar.height = 40;
		toolBar.width = w;
		//player.width = player.height / 9 * 11;
		
		container.style.height = h;
		container.style.width = w - 255;
		if(!mapview) {
			player.style.height = h;
			player.style.width = w - 255;
		}
	}
	
	function play_video(name, global_id) {
        var t = global_id.split(":");
        gloabal_id = t[0] + ":" + t[1] + "3050";
        current_spot = {'name':name, 'global_id':global_id};
		player.StartCallEx(name,global_id);
	}
	
	function set_player_mode(mode) {
		player.SetDisplayMode(mode);
	}
	
	function records_query(name,id) {
		var query = window.open("/records/query/"+id, "records_query");
	}
	
	function change_passwd() {
		var win = window.open("/users/change_pw");
	}
</script>

<title>3G Live</title>
</head>

<body scroll="no" style="margin:0;background-color:#292929;overflow:hidden">
	<div width="100%">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
				id="toolBar" width="100%" height="40"
				codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
				<param name="movie" value="ToolBar.swf?postfix=<%=Time.now.to_i%>" />

				<param name="quality" value="high" />
				<param name="bgcolor" value="${bgcolor}" />
				<param name="allowScriptAccess" value="sameDomain" />
				<embed src="ToolBar.swf?postfix=<%=Time.now.to_i%>" quality="high" bgcolor="${bgcolor}"
					width="100%" height="40" name="toolBar" align="middle"
					play="true"
					loop="false"
					quality="high"
					allowScriptAccess="sameDomain"
					type="application/x-shockwave-flash"
					pluginspage="http://www.adobe.com/go/getflashplayer">
				</embed>
		</object>	
	</div>
	<!--
	<div style="float:left;width:170px;">
	  	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
				id="leftNav" width="${width}" height="${height}"
				codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
				<param name="movie" value="FlexMonitorControl.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="${bgcolor}" />
				<param name="allowScriptAccess" value="sameDomain" />
				<embed src="FlexMonitorControl.swf" quality="high" bgcolor="${bgcolor}"
					width="${width}" height="${height}" name="FlexMonitorControl" align="middle"
					play="true"
					loop="false"
					quality="high"
					allowScriptAccess="sameDomain"
					type="application/x-shockwave-flash"
					pluginspage="http://www.adobe.com/go/getflashplayer">
				</embed>
		</object>
	</div>
	-->
	
	<div style="float:left;width:250px;background-color:red">
	  	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
				id="controlPanel" width="${width}" height="${height}"
				codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
				<param name="movie" value="FlexMonitorClient.swf?postfix<%=Time.now.to_i%>" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="${bgcolor}" />
				<param name="allowScriptAccess" value="sameDomain" />
				<embed src="FlexMonitorClient.swf?postfix=<%=Time.now.to_i%>" quality="high" bgcolor="${bgcolor}"
					width="${width}" height="${height}" name="FlexMonitorClients" align="middle"
					play="true"
					loop="false"
					quality="high"
					allowScriptAccess="sameDomain"
					type="application/x-shockwave-flash"
					pluginspage="http://www.adobe.com/go/getflashplayer">
				</embed>
		</object>
	</div>
	<div id="monitor" style="float:left;padding:0;position: relative;">
		<OBJECT id="player" style="position:absolute;height:100%;" name="player" width="200" height="100%" classid=clsid:9C53409F-B8EE-47D2-9EAC-317FDBEB5368></OBJECT>
		<div id="container" style="position:absolute;width:100%;height:100%;"></div>
	</div>
</body>
</html>
